.backLink {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: #fff;
    transition: all 0.3s ;
}
.backLink:hover {
    letter-spacing: 1px;
    text-decoration: underline;
}

.backgroundImg {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url(/public/img/bkg.webp);
}

.detailContainer {
    display: flex;
    justify-content: center;
}

article.detailCard {
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    transform: scale(0.98);
    transition: all 0.2s;
    display: grid;
}

.detailContent {
    padding-left: 15px;
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255,255,255,0.72);

}

.detailImg {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 767px) {
    .detailContainer {
        flex-direction: column;
    }

    .detailContent {
        padding-left: 0;
    }
}