article {
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    transform: scale(0.98);
    transition: all 0.2s;
}

article:hover {
    transform: scale(1);
}


.cardContent {
    padding: 0.75rem;
    color: #333;
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.40);
}

.blobs-container {
    display: flex;
}

@media (max-width: 767px) {
    article {
        flex-direction: column;
        height: initial;
    }
    .detailImg {
        width: 100%;
        height: auto;
        object-fit: cover;    
    }
}