article {
    display: flex;
    overflow: hidden;
    background: #4E5055;
    border-radius: 0.5rem;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    transform: scale(0.98);
    transition: all 0.2s;
    width: 100%;
}

article:hover {
    transform: scale(1);
}


.cardContent {
    padding: 0.75rem;
    color: #fff;
}

.blobs-container {
    display: flex;
}

@media (max-width: 767px) {
    article {
        flex-direction: column;
        height: initial;
    }
    .detailImg {
        height: 300px;
        object-fit: cover;
    }
}