.itemsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(600px, 1fr));    
    margin: auto !important;
}

@media (max-width: 767px){
    .itemsGrid {
        grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));    
    }
    }